body {
  font-family: Arial, sans-serif;
  background: black;
  padding: 30px;
  color: #333;
  margin-left:40rem;
}

h2 {
  color: #18afdc ;
}

form {
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

#results {
  margin-top: 30px;
  background: #ffffff;
  padding: 20px;
  border-radius: 6px;
  max-width: 400px;
  margin-right:10rem;
}

